<%- include('../../fragments/header.ejs') %>


    <main>

        <h3 class="addSucces">Pomyślnie dodano nowy stolik.</h3>

        <br>
        <a href="/reservations" class="list-actions-button-delete">Wróć</a>

        <br>

        </div>









    </main>

    <%- include('../../fragments/footer.ejs') %>


        </body>

        </html>