<%- include('../../fragments/header.ejs') %>


    <main>


        <br>
        <h3 class="addSucces">Usunięcie zakończone sukcesem!</h3>


        <br>
        <div>
            <a href="/reservations" class="list-actions-button-delete">Wróć</a>
        </div>
        <br>






    </main>

    <%- include('../../fragments/footer.ejs') %>


        </body>

        </html>