<%- include('../../fragments/header.ejs') %>


    <main>

        <h3 class="addSucces">Edycja zakończona sukcesem!</h3>
        <br>

        <a href="/reservations" class="list-actions-button-delete">Wróć</a>

        <br>



    </main>

    <%- include('../../fragments/footer.ejs') %>


        </body>

        </html>