<!DOCTYPE html>
<html lang="pl-PL">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../css/style.css" />
    <title>Kontakt</title>
</head>

<body>
    <header>
        <img src="../../images/chiken.png" alt="chimkenlogo" width="200" height="200">
        <h1>Restauracja Kura</h1>
    </header>


    <nav>
        <ul>
            <li><a href="/">Strona glowna</a></li>
            <li><a href="/reservations">Zarezerwuj stolik</a></li>
            <li><a href="/reservations/contact" class="active">Kontakt</a></li>
        </ul>
    </nav>


    <main>
        <div>

            <h3>
                Kontakt do kury:
            </h3>

            <br>numer telefonu: 48 694 202 137
            <br>adres e-mail: kuraRestaurant@gmail.com
            <br>lokalizacja: Jana Pawła II 21/37 Warszawa 01-739
            <br>Zachęcamy do kontaktu w sprawie pytań oraz organizacji imprez w naszej resutaracji. Do zobaczenia!
            <br>
        </div>

        <h4>

            <img src="../../images/food1.png" alt="chimkenlogo" width="595" height="350" class="img">
            <img src="../../images/food2.png" alt="chimkenlogo" width="595" height="350" class="img">
            <img src="../../images/food3.png" alt="chimkenlogo" width="595" height="350" class="img">
        </h4>


    </main>


    <footer>
        Restauracja Kura, Jana Pawła II 21/37, kuraRestaurant@gmail.com
    </footer>


</body>

</html>