<!DOCTYPE html>
<html lang="pl-PL">

<head>
    <meta charset="UTF-8">
    <title>Potwierdź rezerwację</title>
    <link rel="stylesheet" href="../../../css/style.css" />

</head>

<body>
    <header>
        <img src="../../../images/chiken.png" alt="chimkenlogo" width="200" height="200">
        <h1>Restauracja Kura</h1>
    </header>

    <nav>
        <ul>
            <li><a href="/">Strona glowna</a></li>
            <li><a href="/reservations" class="active">Zarezerwuj stolik</a></li>
            <li><a href="/reservations/contact">Kontakt</a></li>
        </ul>
    </nav>

    <main class="addBody">
        <h2>Wybrany stolik:</h2>

        <form class="form">
            <label for="tableId">NR stolika:
                <span class="symbol-required" id="errortableId">*</span>
            </label>
            <input type="text" name="tableId" id="tableId" required value="5" disabled>

            <br>
            <label for="tableSeats">Ilość miejsc:
                <span class="symbol-required" id="errorTableSeats">*</span>
            </label>
            <input type="text" name="tableSeats" id="tableSeats" required value="3" disabled>


            <br>
            <label for="localization">Lokalizacja:
                <span class="symbol-required" id="errorLocalization">*</span>
            </label>
            <input list="localizations" name="localization" id="localization" required value="Sala 1" disabled>
            <datalist id="localizations">
                <option value="Hol główny">
                <option value="Sala 1">
                <option value="Sala 2">
                <option value="Taras">
                <option value="Ogródek">
            </datalist>

            <br>
            <label>Dodatkowe informacje:</label>
            <p> - zadaszenie</p>


        </form>




        <h2>Wybrany termin:</h2>
        <input type="date" id="startDate" name="startDate" min="2021-10-24" max="2026-02-02" value="2021-10-26"
            disabled>

        <form class="form">


            <label for="startTime">Godzina rozpoczęcia rezerwacji:</label>
            <input type="time" id="startTime" name="startTime" value="18:00" disabled><br>
            <label for="endTime">Godzina zakończenia rezerwacji:</label>
            <input type="time" id="endTime" name="endTime" value="00:00" disabled>


        </form>


        <h2>Wpisz potrzebne dane:</h2>

        <form class="form">

            <label for="lastName">Nazwisko:
                <span class="symbol-required" id="errorLastName">To pole jest wymagane!</span>
            </label>
            <input type="text" name="lastName" id="lastName" required>

            <br>
            <label for="phoneNumber">nr telefonu:
                <span class="symbol-required" id="errorPhoneNumber">To pole jest wymagane!</span>
            </label>
            <input type="text" name="phoneNumber" id="phoneNumber" required>

            <br>

            <h2>Potwierdź rezerwację</h2>

            <div>
                <br>
                <input type="submit" value="Potwierdź" class="form-button-submit" />
                <a href="" class="form-button-cancel">Anuluj</a>
            </div>
            <br>

        </form>

    </main>

    <footer>
        Restauracja Kura, Jana Pawła II 21/37, kuraRestaurant@gmail.com
    </footer>

</body>

</html>