<%- include('./fragments/header.ejs') %>

    <main>
        <div>

            <h3>
                Nasza restauracja 'Kura':
            </h3>

            <p>Położona na ulicy Jana Pawła II 21/37 w Warszawie, istnieje od 1978 roku i zdążyła
                podbić serca
                miłośników kuchni z całego świata. Nieistotne kim jesteś, ani też jaki jest cel twojej wizyty - u nas
                każdy
                znajdzie coś dla siebie i poczuje się jak w domu. Swobodna atmosfera, wspaniała, zróżnicowana kuchnia,
                wysokie ceny, niezapomniane kremówki.
                To wszystko znajdziesz u nas! Zapraszamy do przeglądu naszej oferty oraz do rezerwacji stolików na
                naszej
                stronie internetowej.
            </p>
        </div>

        <h4>

            <img src="images/food1.png" alt="chimkenlogo" width="595" height="350" class="img">
            <img src="images/food2.png" alt="chimkenlogo" width="595" height="350" class="img">
            <img src="images/food3.png" alt="chimkenlogo" width="595" height="350" class="img">

        </h4>


    </main>


    <%- include('./fragments/footer.ejs') %>