/* W css działają tylko komentarze zapisane w ten sposób */

/* "Dla każdego elementu Text:" */
Text {
    /* klucz: wartość; */
    -fx-font: 25px Tahoma;   /* Ustawiamy font Tahoma wysokości 25px */
    -fx-fill: rgb(20,20,20); /* Zmieniamy kolor na ciemny, ale nie czarny */
    -fx-stroke: black;       /* Niech obramowanie będzie czarne, */
    -fx-stroke-width: 0.5;     /* a grubość obramowania to 2px (pixele) */
}

Button {
      /* Ustawiamy font Tahoma wysokości 25px */

}